body {
  margin: 0;
  padding: 0;
}
.container-meovat {
  font-family: arial;
  /* background-color: #ffffcc; */
  margin-top: 100px;
  padding: 20px;
  width: 100%;
}
.container-meovat h2{
  text-align: center;
  font-size: 200%;
  margin-top: 20px;
  margin-bottom: 0px;
}
.container-meovat h3{
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 0px;
}
.container-meovat-title{
  width: 100%;
}
.container-meovat-list{
  width:100%;
  overflow:auto;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 20px;
  padding: 0;
}
.container-meovat-1 {
  width: calc(25% - 20px); 
  float: left;
  margin: 10px 10px;
  height: 400px;
}
.container-meovat-1 a{
  text-decoration: none;
  color: black;
}
.container-meovat-1 h3:hover{
  text-decoration: underline;
}
.container-meovat-1-2{
  height: 50%;
}
.image {
  width: 100%; 
  height: 200px; 
  background-size: cover; 
  background-position: center; 
}